<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <img src="" alt="..."/>
      </div>

      <div class="col-5 item-header">

        <div>
          <div class="dropdown">

              <i class="fa-solid fa-user" data-bs-toggle="dropdown" ></i>


            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/trang-chu">Giao diện người dùng</a></li>
              <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container header-under">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="navbar-nav">
              <a class="nav-link" href="/admin/dashboard">Quản trị</a>
              <a class="nav-link" href="/chi-tiet-san-pham/hien-thi">Chi tiết sản phẩm</a>
              <a class="nav-link" href="/san-pham/hien-thi">Sản phẩm</a>
              <a class="nav-link" href="/loai-san-pham/hien-thi">Loại sản phẩm</a>
              <a class="nav-link" href="/dong-san-pham/hien-thi">Dòng sản phẩm</a>
              <a class="nav-link" href="/nsx/hien-thi">NSX</a>
              <a class="nav-link" href="/mau-sac/hien-thi">Màu</a>
              <a class="nav-link" href="/size/hien-thi">Size</a>
              <a class="nav-link" href="/chuc-vu/hien-thi">Chức vụ</a>
              <a class="nav-link" href="/ctsp-size/hien-thi">CTSP-Size</a>
              <a class="nav-link" href="/hoa-don/hien-thi">Hóa đơn</a>
            </div>
      </nav>
          </div>
        </div>


</header>

